table {
	border-collapse: collapse;
}

caption {
	font-size: 16pt
}

th, td {
	border: 1px solid Gray;
	padding: 5px;
}

td {
	text-align: center;
}

td.broj {
	text-align: center;
}

th {
	color: white;
	background-color: DodgerBlue;
	text-align: left;
}

tr:nth-child(even) {
	background-color: LightGray;
}

input[type="search"] {
	width: 100%;
}
