table.horizontalni-meni {
	margin-top: 20px;
}
table.horizontalni-meni ul {
	display: inline;
	padding: 0;
}
table.horizontalni-meni li {
	float: left;
	padding: 5px;
	margin: 2px;
	display: inline;
	background-color: White;
}
table.horizontalni-meni td {
	background-color: DodgerBlue;
}

#trainingDetails {
	margin-left: 35%;
	margin-top: 10%;
}

#addTraining {
	margin-left: 680px;
	margin-top: 50px;
}


#picture{
	margin-left: 600px
}

h2 {
	margin-left: 700px;
}

#trainingsTable {
	margin-left: 600px;
	margin-top: 50px;
}

#addTraining {
	margin-left: 570px;
	margin-top: 20px;
}

#loginTable {
	margin-left: 740px;
	margin-top: 100px;
}

#error {
	margin-left: 870px;
	margin-top: 100px
}

#registration {
	margin-left: 750px;
	margin-top: 100px
} 