<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Add appointment</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<p th:text="${error}"></p>
	<form method="post" action="appointment/add"> 
		<table> 
			<caption>Add appointment</caption> 
			<tr><th>Date of appointment:</th><td><input type="date" name="dateAppointment" required/></td></tr> 
			<tr><th>Time of appointment:</th><td><input type="time" name="timeAppointment" required/></td></tr>
			<tr>
 				<th>Training:</th>
				<td>
					<select name = "trainingId">
						<option th:each="training: ${trainings}" th:value="${training.id}" th:text="${training.name}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
 				<th>Hall:</th>
				<td>
					<select name = "hallId">
						<option th:each="hall: ${halls}" th:value="${hall.id}" th:text="${hall.hallMark}">
						</option>
					</select>
				</td>
			</tr> 
			<tr><th></th><td><input type="submit" value="Add" /></td> 
		</table>
	</form>
</body>
</html>