<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Add hall</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<p th:text="${error}"></p>
<body>
	<form method="post" action="hall/add"> 
		<table> 
			<caption>Add Hall</caption> 
			<tr><th>Capacity:</th><td><input type="number" name="capacity" required/></td></tr> 
			<tr><th>Hall mark:</th><td><input type="text" name="hallMark" required/></td></tr>
			<tr><th></th><td><input type="submit" value="Add" /></td> 
		</table>
	</form>
</body>
</html>