<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Add special discount</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<p th:text="${error}"></p>
	<form method="post" action="specialDateDiscount/addSpecialDateDiscount">
		<table>
			<caption>Add Special date and percentage for discount</caption>
			<tr><th>Date of discount:</th><td><input type="date" value="" name="dateOfDiscount" /></td></tr>
			<tr><th>Percentage:</th><td><input type="number" min="1" value="" name="percentageOfDiscount" /></td></tr>
			<tr><th></th><td><input type="submit" value="Add" /></td>
		</table>
	</form></br></br></br>
	<table>
		<caption>All special dates and percentages of discounts in futures date</caption>
		<tr> 
			<th>No.</th> 
			<th>Date of discount</th>
			<th>Percentage</th>
		</tr>
		<tr th:each="specialDate, status: ${specialDatesOfDiscountsInFutureDate}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${specialDate.dateOfDiscount}"></td>
			<td th:text="${specialDate.percentage}"></td>
		</tr>
	</table>
</body>
</html>