<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Add training</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<form method="post" action="training/add"> 
		<table id="addTraining"> 
			<caption>Training</caption> 
			<tr><th>Name:</th><td><input type="text" name="name" required/></td></tr> 
			<tr><th>Coach:</th><td><input type="text" name="coach" required/></td></tr>
			<tr><th>Description:</th><td><input type="text" name="description" required/></td></tr>
			<tr><th>Price:</th><td><input type="number" min="1" name="price" required/></td></tr>
			<tr><th>Duration:</th><td><input type="number" min="1" name="duration" required/></td></tr> 
			<tr>
				<th>Type of training</th>
				<td>
					<th:block>
						<select name="typeOfTraining">
							<option th:each="typeOfTraining: ${T(com.ftn.herculesGym.model.TypeOfTraining).values()}"
								th:value="${typeOfTraining}" th:text="${typeOfTraining.displayName}"></option>
						</select>
					</th:block>
				</td>
			</tr>
			<tr>
				<th>Level of training</th>
				<td>
					<th:block>
						<select name="levelOfTraining">
							<option th:each="levelOfTraining: ${T(com.ftn.herculesGym.model.LevelOfTraining).values()}"
								th:value="${levelOfTraining}" th:text="${levelOfTraining.displayName}"></option>
						</select>
					</th:block>
				</td>
			</tr>
			<tr>
				<th>Type Trainings</th>
				<td>
					<th:block th:each="trainingType: ${trainingsTypes}">
						<input type="checkbox" name="trainingTypeId" th:value="${trainingType.id}"/><span th:text="${trainingType.title}"></span><br>
					</th:block>
				</td>
			</tr>
			<tr><th></th><td><input type="submit" value="Add" /></td> 
		</table>
	</form>
</body>
</html>