<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>See all users</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/sorttable.js"></script>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<h2>All users data</h2>
	<table id="trainingsTable"> 
		<caption>All users</caption> 
		<tr>
			<th></th>
			<th>
				<form method="post" action="user/searchByUserName">
					<input type="text" value="" name="search"/></br>
					<input type="submit" value="Search by username" />
				</form>
			</th>
			<th></th>
			<th>
				<form method="post" action="user/searchByUserRole">
					<th:block>
						<select name="userRole">
							<option th:each="userRole: ${T(com.ftn.herculesGym.model.UserRole).values()}"
								th:value="${userRole}" th:text="${userRole}"></option>
						</select></br>
						<input type="submit" value="Search by User role"/>
					</th:block>
				</form>
			</th>
		</tr>
	</table>
	<table class="sortable" id="trainingsTable">
		<tr> 
			<th class="sorttable_nosort">No.</th> 
			<th>User name</th>
			<th class="sorttable_nosort">Date of registration</th>
			<th>User role</th>
		</tr>
		<tr th:each="user, status: ${allUsers}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td><a th:href="|user/details?id=${user.id}|" th:text="${user.userName}"></a></td>
			<td th:text="${#temporals.format(user.dateOfRegistration.minusHours(1),'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${user.userRole}"></td>
		</tr>
	</table>
</body>
</html>