<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Appointment reservation</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<table> 
		<caption>Reservation of appointments from order</caption>
		<tr> 
			<th>Name</th>
			<th>Coach</th>
			<th>Description</th>
			<th>Title</th>
			<th>Detail description</th>
			<th>Type of training</th>
			<th>Level of training</th>
			<th>Price</th>
			<th>Duration</th>
			<th>Avg assesment</th>
			<th>Hall mark</th>
			<th>Date of appointmentt</th>
		</tr>
		<tr th:each="appointment, status: ${appointemtsByUserOrder}">
			<td th:text="${appointment.training.name}"></td>
			<td th:text="${appointment.training.coach}"></td>
			<td><textarea th:text="${appointment.training.description}"></textarea></td>
			<td>
				<th:block th:each="trainingType: ${appointment.training.listOfTrainingsType}">
						<input type="text" th:value="${trainingType.title}"/><br>
				</th:block>
			</td>
			<td>
				<th:block th:each="trainingType: ${appointment.training.listOfTrainingsType}">
						<textarea th:text="${trainingType.detailDescription}"></textarea>
				</th:block>
			</td>
			<td th:text="${appointment.training.typeOfTraining}"></td>
			<td th:text="${appointment.training.levelOfTraining}"></td>
			<td th:text="${appointment.training.price}"></td>
			<td th:text="${appointment.training.duration}"></td>
			<td th:text="${appointment.training.avgAssesment}"></td>
			<td th:text="${appointment.hall.hallMark}"></td>
			<td th:text="${#dates.format(new java.util.Date(appointment.dateAndTimeOfAppointment), 'dd/MM/yyyy - HH:mm')}"></td>
			<td th:if="${#strings.equals(loggedUser.userRole, 'USER')}">
				<form method="post" action="appointment/deleteOrderedAppointment">
					<input type="hidden" name="appointmentId" th:value="${appointment.id}">
					<input type="submit" value="Remove">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>