<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Comments admin</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul>
		<li><a href="training">Trainings</a></li>
	</ul>
	<table> 
		<caption>Comments on pending</caption> 
		<tr th:each="comment, status: ${commentsOnPending}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${comment.dateOfPostedComment}"></td>
			<td th:if="${comment.anonymous == true}">anonymous</td>
			<td th:unless="${comment.anonymous == true}" th:text="${comment.user.name}"></td>
			<td><textarea th:text="${comment.textComment}"></textarea></td>
			<td>
				<form method="post" action="comment/approveComment">
					<input type="hidden" name="commentId" th:value="${comment.id}">
					<input type="submit" value="Approve">
				</form>
			</td>
			<td>
				<form method="post" action="comment/rejectComment">
					<input type="hidden" name="commentId" th:value="${comment.id}">
					<input type="submit" value="Reject">
				</form>
			</td>
		</tr>
	</table>
</body>
</html>