<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Halls</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/sorttable.js"></script>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul>
		<li><a href="training">Trainings</a></li>
	</ul>
	<h2>All halls</h2>
	<table> 
		<caption>All halls</caption> 
		<tr>
			<th>
				<form method="post" action="hall/searchByHallMark">
					<input type="text" value="" name="hallMark"/></br>
					<input type="submit" value="Search by Hall mark" />
				</form>
			</th>
		</tr>
	</table>
	<table class="sortable">
		<tr> 
			<th class="sorttable_nosort">No.</th> 
			<th>Hall mark</th>
			<th class="sorttable_nosort">Capacity</th>
		</tr>
		<tr th:each="hall, status: ${allHalls}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td><a th:href="|hall/details?id=${hall.id}|" th:text="${hall.hallMark}"></a></td>
			<td th:text="${hall.capacity}"></td>
			<td th:if="${hall.occupied == false}">
				<form method="post" action="hall/delete">
					<input type="hidden" name="hallId" th:value="${hall.id}">
					<input type="submit" value="Delete hall">
				</form>
			</td>
		</tr>
	</table>
	<ul><li><a href="hall/add">Add new hall</a></li></ul>
</body>
</html>