<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Hall</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul>
		<li><a href="training">Trainings</a></li>
	</ul>
	<form method="post" action="hall/edit"> 
		<input type="hidden" name="hallId" th:value="${hall.id}"/>
		<table> 
			<caption>Hall</caption> 
			<tr><th>Capacity:</th><td><input type="number" min="1" th:value="${hall.capacity}" name="capacity" required/></td></tr> 
			<tr><th>Hall mark:</th><td><input type="text" th:value="${hall.hallMark}" readonly="readonly"/></td></tr> 
	 		<tr><th></th><td><input type="submit" value="Update" /></td></tr>
		</table>
	</form>
</body>
</html>