<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul>
		<li><a href="user/registration">Registration</a></li>
	</ul>
	<div th:text="${error}"></div>
	<br/>
	<form method="post" action="user/login">
		<table id="loginTable">
			<caption>Login to the gym app</caption>
			<tr><th>Username:</th><td><input type="text" value="" name="userName"/></td></tr>
			<tr><th>Password:</th><td><input type="password" value="" name="password"/></td></tr>
			<tr><th></th><td><input type="submit" value="Login" /></td>
		</table>
	</form>
</body>
</html>