<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
	<title>Login page</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul></br>
	<div th:text="${error}"></div>
</body>
</html>