<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Loyalty card</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<ul><li><a href="user/userProfile">User profile</a></li></ul>
	<table th:if="${cardIsNull == true}"> 
		<caption>Request for loyalty card</caption> 
		<tr>
			<th>
				<form method="post" action="loyaltyCard/RequestForLoyaltyCard">
					<input type="hidden" th:value="${loggedUser.id}" name="userId"/></br>
					<input type="submit" value="Send request" />
				</form>
			</th>
		</tr>
	</table>
	<table th:if="${pending == true}">
		<p>Request still waiting for approve or reject</p>
	</table>
	<table th:if="${approved == true}">
		<caption>Your loyalty card</caption> 
		<tr> 
			<th>Points</th>
			<th>Discount in percentage</th>
		</tr>
		<tr>
			<td th:text="${loyaltyCard.points}"></td>
			<td th:text="${loyaltyCard.discount}"></td>
		</tr>
	</table>
	<table th:if="${rejected == true}"> 
		<caption>Request for loyalty card</caption> 
		<p>Your request is rejected, you can again to send request</p>
		<tr>
			<th>
				<form method="post" action="loyaltyCard/RequestForLoyaltyCard">
					<input type="hidden" th:value="${loggedUser.id}" name="userId"/></br>
					<input type="submit" value="Send request" />
				</form>
			</th>
		</tr>
	</table>
</body>
</html>