<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Loyalty card</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<table> 
		<caption>All requests for loyalty card from users</caption> 
		<tr> 
			<th>No.</th> 
			<th>Name</th>
			<th>Surname</th>
			<th>Email</th>
		</tr>
		<tr th:each="user, status: ${usersWhoPendingOnRequest}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.surname}"></td>
			<td th:text="${user.email}"></td>
			<td>
				<form method="post" action="loyaltyCard/approveRequestLoyaltyCard">
					<input type="hidden" th:value="${user.id}" name="userId"/></br>
					<input type="submit" value="Approve"/>
				</form>
			</td>
			<td>
				<form method="post" action="loyaltyCard/rejectRequestLoyaltyCard">
					<input type="hidden" th:value="${user.id}" name="userId"/></br>
					<input type="submit" value="Reject"/>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>