<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Registration page</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body id="registration">
	<br/>
	<form method="post" action="user/registration">
		<table>
			<caption>Registration</caption>
			<tr><th>Name:</th><td><input type="text" value="" name="name" /></td></tr>
			<tr><th>Surname:</th><td><input type="text" value="" name="surname" /></td></tr>
			<tr><th>Username:</th><td><input type="text" value="" name="userName"/></td></tr>
			<tr><th>Password</th><td><input type="password" value="" name="password"/></td></tr>
			<tr><th>Confirm password</th><td><input type="password" value="" name="confirmPassword"/></td></tr>
			<tr><th>Email:</th><td><input type="text" value="" name="email"/></td></tr>
			<tr><th>Adress:</th><td><input type="text" value="" name="adress"/></td></tr>
			<tr><th>Phone number:</th><td><input type="number" value="" name="contact"/></td></tr>
			<tr><th>Date of birth:</th><td><input type="date" value="" name="dateBirth"/></td></tr>
			<tr><th></th><td><input type="submit" value="Register" /></td>
		</table>
	</form>
</body>
</html>