<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Report</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/sorttable.js"></script>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<table> 
		<caption>Insert dates from and until to get report</caption> 
		<tr>
			<th>
				<form method="post" action="report/getReport">
					From:<input type="date" value="" name="dateFromFront" required="required"/></br>
					Until:<input type="date" value="" name="dateUntilFront" required="required"/></br>
					<input type="submit" value="Search by date" />
				</form>
			</th>
		</tr>
	</table>
	<table class="sortable" id="trainingsTable"> 
		<caption>Trainings</caption>
		<tr> 
			<th class="sorttable_nosort">R. br.</th> 
			<th>Name</th>
			<th>Coach</th>
			<th>number of order</th>
			<th>total sum price of trainings</th>
		</tr>
		<tr th:each="training, status: ${trainingsBySearchDates}" th:if="${training != null}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td><a th:href="|training/details?id=${training.id}|" th:text="${training.name}"></a></td>
			<td th:text="${training.coach}"></td>
			<td class="broj" th:text="${numberOfOrder}"></td>
			<td class="broj" th:text="${totalPriceOfTrainings}"></td>
		</tr>
		<tr><th>Number of all ordered trainings</th><td th:text="${totalNumberOfOrderedTrainings}"></td></tr>
		<tr><th>Total price of all ordered trainings</th><td th:text="${totalSumOfAllOrderedTrainings}"></td></tr>
	</table>
</body>
</html>