<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Shopping cart</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<ul><li><a href="user/userProfile">User profile</a></li></ul>
	<table> 
		<caption>Shopping cart</caption>
		<tr> 
			<th>No.</th>
			<th>Name</th>
			<th>Coach</th>
			<th>Title</th>
			<th>Detail description</th>
			<th>Date of appointment</th>
			<th>Price</th>
		</tr>
		<tr th:each="appointment, status: ${appointmentsForOrder}" th:if="${appointmentsForOrder != null}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${appointment.training.name}"></td>
			<td th:text="${appointment.training.coach}"></td>
			<td>
				<th:block th:each="trainingType: ${appointment.training.listOfTrainingsType}">
						<input type="text" th:value="${trainingType.title}"/><br>
				</th:block>
			</td>
			<td>
				<th:block th:each="trainingType: ${appointment.training.listOfTrainingsType}">
						<textarea th:text="${trainingType.detailDescription}"></textarea>
				</th:block>
			</td>
			<td th:text="${#dates.format(new java.util.Date(appointment.dateAndTimeOfAppointment), 'dd/MM/yyyy - HH:mm')}"></td>
			<td th:text="${appointment.training.price}"></td>
			<td>
				<form method="post" action="appointment/deleteShoppingCart">
					<input type="hidden" name="appointmentId" th:value="${appointment.id}">
					<input type="submit" value="Remove">
				</form>
			</td>
		</tr>
	</table></br></br>
	<p th:text="${message}"></p>
	<form method="post" action="appointment/saveAllFromShoppinCart">
		<table>
			<caption>Order all appointments</caption>	
			<tr th:if="${todaySpecialDateDiscount == false && userDontHaveLoyaltyCard == false}"><th>Insert points for discount, max 5</th><td><input type="number" max="5" min="0" name="pointsNumber"></td></tr>
			<tr><th></th><td><input type="submit" value="Order"/></td></tr> 
		</table> 
	</form>
</body>
</html>