<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Training</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><li><a href="user/userProfile">User profile</a></li></ul>
	<p></p>
	<form method="post" action="training/edit"> 
		<input type="hidden" name="trainingId" th:value="${training.id}"/>
		<table id="trainingDetails"> 
			<caption>Training</caption> 
			<tr th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Name:</th><td><input type="text" th:value="${training.name}" name="name" readonly="readonly"/></td></tr>
			<tr th:unless="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Name:</th><td><input type="text" th:value="${training.name}" name="name" required="required"/></td></tr>
			<tr th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Coach:</th><td><input type="text" th:value="${training.coach}" name="coach" readonly="readonly"/></td></tr>
			<tr th:unless="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Coach:</th><td><input type="text" th:value="${training.coach}" name="coach" required="required"/></td></tr> 
	 		<tr th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Description:</th><td><textarea th:text="${training.description}" name="description" readonly="readonly"></textarea></td></tr> 
	 		<tr th:unless="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Description:</th><td><textarea th:text="${training.description}" name="description" required="required"></textarea></td></tr> 
			<tr th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Price:</th><td><input type="number" min="1" th:value="${training.price}" name="price" readonly="readonly"/></td></tr>
			<tr th:unless="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Price:</th><td><input type="number" min="1" th:value="${training.price}" name="price" required="required"/></td></tr>
			<tr th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Duration:</th><td><input type="number" min="1" th:value="${training.duration}" name="duration" readonly="readonly"/></td></tr>
			<tr th:unless="${#strings.equals(loggedUser.userRole, 'USER')}"><th>Duration:</th><td><input type="number" min="1" th:value="${training.duration}" name="duration" required="required"/></td></tr>
			<tr><th>Type of Training:</th><td><input type="text" th:value="${training.typeOfTraining}" name="type" readonly="readonly"/></td></tr>
			<tr><th>Level of Training:</th><td><input type="text" th:value="${training.levelOfTraining}" name="level" readonly="readonly"/></td></tr>
			<tr th:each="trainingType: ${trainingsTypes}"><th>Title of training:</th>
				<td>
					<input type="text" th:value="${trainingType.title}" readonly="readonly"/>
				</td>
			</tr>
			<tr th:each="trainingType: ${trainingsTypes}"><th>Detail description of training:</th>
				<td>
					<textarea th:text="${trainingType.detailDescription}" readonly="readonly"></textarea>
				</td>
			</tr>
			<tr><th>Avg Assesment:</th>
				<td>
					<input type="text" th:value="${training.avgAssesment}" readonly="readonly"/>
				</td>
			</tr>
			<tr th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}">
				<th>Change Type of training</th>
				<td>
					<th:block>
						<select name="typeOfTraining">
							<option th:each="typeTraining: ${T(com.ftn.herculesGym.model.TypeOfTraining).values()}"
								th:value="${typeTraining}" th:text="${typeTraining.displayName}"></option>
						</select>
					</th:block>
				</td>
			</tr>
			<tr th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}">
				<th>Change Level of training</th>
				<td>
					<th:block>
						<select name="levelOfTraining">
							<option th:each="levelTraining: ${T(com.ftn.herculesGym.model.LevelOfTraining).values()}"
								th:value="${levelTraining}" th:text="${levelTraining.displayName}"></option>
						</select>
					</th:block>
				</td>
			</tr> 
			<tr th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}">
				<th>Type Trainings</th>
				<td>
					<th:block th:each="trainingType: ${allTrainingTypesForUpdate}">
						<input type="checkbox" name="trainingTypeId" th:value="${trainingType.id}"/><span th:text="${trainingType.title}"></span><br>
					</th:block>
				</td>
			</tr>
			<tr th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><th></th><td><input type="submit" value="Update" /></td> 
		</table>
	</form>
	<p th:if="${pending == true}">Your comment is waiting to be approved or rejected</p>
	<p th:if="${rejected == true}">Your comment is rejected, you can try again with a new comment</p>
	<form method="post" action="comment/addComent" th:if="${trainingForComment == true and (#strings.equals(loggedUser.userRole, 'USER')) 
															and pending == false and approved == false}">
		<table>
			<caption>Insert comment and assement</caption>
			<tr>
				<th>Anonymous?</th>
				<th>Comment:</th>
				<th>Assesment 1/5</th>
			</tr>
			<tr>
				<input type="hidden" name="trainingId" th:value="${training.id}">
				<td><input type="checkbox" name="anonymous"/></td>
				<td><textarea name="textComment" required="required"></textarea></td>
				<td><input type="number" name="assesment" min="1" max="5" required="required"/></td>
				<td><input type="submit" value="Send comment" /></td>
			</tr>
		</table>
	</form>
	<table>
		<caption>Comments</caption>
		<tr th:each="comment, status: ${commentsForTraining}" th:if="${commentsForTraining != null}"><th>Date of post<th><td th:text="${comment.dateOfPostedComment}"></td>
			<th>Author</th><td th:if="${comment.anonymous == true}">anonymous</td>
						   <td th:unless="${comment.anonymous == true}" th:text="${comment.user.name}"></td>
			<th>Comment</th><td><textarea th:text="${comment.textComment}"></textarea></td>			   
		<tr>
	</table>
	<p th:text="${error}"></p>
	<form method="post" action="training/addToWishList" th:if="${#strings.equals(loggedUser.userRole, 'USER')}">
		<input type="hidden" name="trainingId" th:value="${training.id}">
		<table>
			<caption>Add to wish list</caption>	
			<tr><th></th><td><input type="submit" value="Add to wish list"></td> 
		</table> 
	</form>
	<table>
		<caption>Appointments of training</caption> 
		<tr> 
			<th>No.</th> 
			<th>Hall</th>
			<th>Date and time</th>
			<th th:if="${#strings.equals(loggedUser.userRole, 'USER')}"></th>
		</tr>
		<tr th:each="appointment, status: ${appointmentsByTraining}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${appointment.hall.hallMark}"></td>
			<td th:text="${#dates.format(new java.util.Date(appointment.dateAndTimeOfAppointment), 'dd/MM/yyyy - HH:mm')}"></td>
			<td th:if="${#strings.equals(loggedUser.userRole, 'USER')}">
				<form method="post" action="appointment/addAppointmentToUserCart">
					<input type="hidden" name="appointmentId" th:value="${appointment.id}">
					<input type="submit" value="Add to Shopping cart">
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>