<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Trainings</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/picture.css"/>
	<script src="js/sorttable.js"></script>
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="user/seeUserData">Users managment</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="loyaltyCard">Loyalty card - requests</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="hall">Halls</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="appointment/add">Appointments</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="specialDateDiscount">Add special date for Discount</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="comment/commentsOnPending">Comments of users</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><li><a href="report">Reporting</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><li><a href="loyaltyCard">Loyalty card</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><li><a href="user/userProfile">User profile</a></li></ul>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><li><a href="appointment/shoppingCart">Shopping cart</a></li></ul>
	<h2>HERCULES GYM</h2>
	<img src="pictures/gym_picture.jpg" id="picture">
	<table id="trainingsTable"> 
		<caption>Trainings</caption> 
		<tr>
			<th></th>
			<th>
				<form method="post" action="training/searchByName">
					<input type="text" value="" name="search"/></br>
					<input type="submit" value="Search by name" />
				</form>
			</th>
			<th>
				<form method="post" action="training/searchByPrice">
					From:<input type="text" value="" name="searchFrom"/></br>
					Until:<input type="text" value="" name="searchUntil"/></br>
					<input type="submit" value="Search by price" />
				</form>
			</th>
			<th>
				<form method="post" action="training/searchByCoach">
					<input type="text" value="" name="search"/></br>
					<input type="submit" value="Search by coach" />
				</form>
			</th>
		</tr>
	</table>
	<table class="sortable" id="trainingsTable"> 
		<tr> 
			<th class="sorttable_nosort">R. br.</th> 
			<th>Name</th>
			<th>Price</th>
			<th>Avg assessment</th>
		</tr>
		<tr th:each="training, status: ${trainings}" th:if="${training != null}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td><a th:href="|training/details?id=${training.id}|" th:text="${training.name}"></a></td>
			<td class="broj" th:text="${training.price}"></td>
			<td class="broj" th:text="${training.avgAssesment}"></td>
		</tr>
	</table>
	<ul th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}" id="addTraining">
		<li><a href="training/add">Add new training</a></li></br>
	</ul>
</body>
</html>