<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>User profile</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/> --> 
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/> 
</head>
<body>
	<ul><li><a href="user/logout">Logout</a></li></ul>
	<ul><li><a href="training">Trainings</a></li></ul>
	<ul>
		<li th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><a href="user/seeUserData">All users</a></li>
	</ul>
	<p th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}" th:text="${error}"></p>
	<table th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"> 
		<caption>User details</caption> 
		<tr>
			<th>Change user role</th>
			<td>
				<form method="post" action="user/edit" >
				<input type="hidden" name="userId" th:value="${user.id}"/>
					<th:block>
						<select name="userRole">
							<option th:each="userRole: ${T(com.ftn.herculesGym.model.UserRole).values()}"
								th:value="${userRole}" th:text="${userRole}"></option>
						</select></br></br>
						<input type="submit" value="Change"/>
					</th:block>
				</form>
			</td>
		</tr>
		<tr th:if="${user.active}">
			<th>Deactivate user:</th>
			<td>
				<form method="post" action="user/deactivateUser">
					<input type="hidden" name="userId" th:value="${user.id}"/>
					<input type="submit" value="Deactivate"/>
				</form>
			</td>
		</tr>
		<tr th:if="${user.active == false}">
			<th>Activate user:</th>
			<td>
				<form method="post" action="user/activateUser">
					<input type="hidden" name="userId" th:value="${user.id}"/>
					<input type="submit" value="Activate"/>
				</form>
			</td>
		</tr>
	</table>
	<div th:if="${#strings.equals(loggedUser.userRole, 'USER')}">
		<p th:text="${emptyName}"></p>
		<p th:text="${emptySurname}"></p>
		<p th:text="${emptyUserName}"></p>
		<p th:text="${badPassword}"><p>
		<p th:text="${invalidEmailFormat}"><p>
		<p th:text="${emptyAdress}"></p>
		<p th:text="${emptyContact}"></p>
		<p th:text="${emptyDateBirth}"></p>
	</div>
	<form method="post" action="user/editUser" th:if="${#strings.equals(loggedUser.userRole, 'USER')}">
		<table>
			<caption>User profile</caption>
			<input type="hidden" name="userId" th:value="${loggedUser.id}"/>
			<tr><th>Name:</th><td><input type="text" th:value="${loggedUser.name}" name="name" /></td></tr>
			<tr><th>Surname:</th><td><input type="text" th:value="${loggedUser.surname}" name="surname" /></td></tr>
			<tr><th>Username:</th><td><input type="text" th:value="${loggedUser.userName}" name="userName"/></td></tr>
			<tr><th>Password</th><td><input type="password" value="" name="password"/></td></tr>
			<tr><th>Confirm password</th><td><input type="password" value="" name="confirmPassword"/></td></tr>
			<tr><th>Email:</th><td><input type="text" th:value="${loggedUser.email}" name="email"/></td></tr>
			<tr><th>Adress:</th><td><input type="text" th:value="${loggedUser.adress}" name="adress"/></td></tr>
			<tr><th>Phone number:</th><td><input type="number" th:value="${loggedUser.phoneNumber}" name="contact"/></td></tr>
			<tr><th>Date of birth:</th><td><input type="date" th:value="${loggedUser.dateBirth}" name="dateBirth"/></td></tr>
			<tr><th></th><td><input type="submit" value="Update" /></td>
		</table>
	</form>
	<table th:if="${#strings.equals(loggedUser.userRole, 'USER')}">  
		<caption>User wish list  of trainings</caption>
		<tr> 
			<th>No.</th>
			<th>Name</th>
			<th>Coach</th>
			<th>Description</th>
			<th>Price</th>
			<th>Type of training</th>
			<th>Level of training</th>
			<th>Duration</th>
			<th>Avg assessment</th>
		</tr>
		<tr th:each="training, status: ${trainingsByUserWishList}" th:if="${training != null}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:text="${training.name}"></td>
			<td th:text="${training.coach}"></td>
			<td><textarea th:text="${training.description}" readonly="readonly"></textarea></td>
			<td th:text="${training.price}"></td>
			<td th:text="${training.typeOfTraining}"></td>
			<td th:text="${training.levelOfTraining}"></td>
			<td th:text="${training.duration}"></td>
			<td th:text="${training.avgAssesment}"></td>
			<td>
				<form method="post" action="training/deleteWishList">
					<input type="hidden" name="trainingId" th:value="${training.id}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
	</table>
	<p th:text="${error}"><p>
	<table>  
		<caption>Users ordered reservations</caption>
		<tr> 
			<th>No.</th>
			<th>Date and time of order</th>
			<th>Total price of reservation</th>
		</tr>
		<tr th:each="userAppointment, status: ${orderedAppointmentsByUser}" th:if="${userAppointment != null}">
			<td class="broj" th:text="|${status.index + 1}.|"></td>
			<td th:if="${#strings.equals(loggedUser.userRole, 'ADMIN')}"><a th:href="|appointment/seeReservation?id=${userAppointment.id}&ampuserId=${user.id}|" th:text="${#dates.format(new java.util.Date(userAppointment.dateAndTimeOfOrder), 'dd/MM/yyyy - HH:mm')}"></a></td>
			<td th:if="${#strings.equals(loggedUser.userRole, 'USER')}"><a th:href="|appointment/seeReservation?id=${userAppointment.id}" th:text="${#dates.format(new java.util.Date(userAppointment.dateAndTimeOfOrder), 'dd/MM/yyyy - HH:mm')}"></a></td>
			<td class="broj" th:text="${userAppointment.totalPricePerReservation}"></td>
		</tr>
		<tr><th>Total sum of all reservations</th><td th:text="${totalSumOfReservation}" colspan="2"></td></tr>
	</table>
</body>
</html>